
.desk-toolbar {
  width: 100%;
  opacity: 0.9;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: auto;
}

.mobile-toolbar{
  width: 100%;
  opacity: 0.9;
  position: fixed;
  background-color: #f8f8f8;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-right: .5vw;
  padding-left: .5vw;
  height: 15vw;
}

.auzzio_logo {
  max-height: 10vw;
  margin: .1vw 0px;
}
.auzzio_logo_mobile {
  max-height: .3vw;
  margin: .5vw 0px;
}
