.brand
{
  overflow: hidden;
  width: 100%;
  /* grid-column: 1/2;
  grid-row: 1/2; */
  display: inline-block;
  flex: 1 1 ;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #eee;
}

.desk-toolbar {
  width: 100%;
  opacity: 0.9;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: auto;
}

.mobile-toolbar{
  width: 100%;
  opacity: 0.9;
  position: fixed;
  background-color: #f8f8f8;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-right: .5vw;
  padding-left: .5vw;
  height: auto;
}


.brand
{
  overflow: hidden;
  width: 100%;
  /* grid-column: 1/2;
  grid-row: 1/2; */
  display: inline-block;
  flex: 1 1 ;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #eee;
}
.providerbtn{
  margin-right: 1%;
  margin-top: 0;
  position: absolute;
  right: 0;
}
.providerbtnMobile{
  margin-right: 1%;
  margin-top: 0;
  position: absolute;
  right: 0;
  line-height: 25px;
  font-size: 10px;
  padding: 0;
}
.listbtn {
  margin-top: 0;
  position: absolute;
}

.searchbtn {
  margin-right: 12%;
  margin-top: 0;
  position: absolute;
  right: 12%;
}
.searchbtnMobile {
  margin-right: 20%;
  margin-top: 0;
  position: absolute;
  right: 18%;
  line-height: 25px;
  font-size: 10px;
  padding: 0;
}
.servicesbtn{
  margin-right: 15%;
  margin-top: 0;
  position: absolute;
  right: 6%;
}

.desk-toolbar {
  width: 100%;
  opacity: 0.9;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: auto;
}

.mobile-toolbar{
  width: 100%;
  opacity: 0.9;
  position: fixed;
  background-color: #f8f8f8;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-right: .5vw;
  padding-left: .5vw;
  height: auto;
}

.howitworks1{
  width: 30.5px;
  height: 16.5px;
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: rgb(85, 83, 83);
  margin-left: 6rem;
}

.howitworks{
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: rgb(85, 83, 83);
}
.categories{
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: rgb(85, 83, 83);
}
.myListings{
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: rgb(85, 83, 83);
}

.community{
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: rgb(85, 83, 83);
}
.loginlink{
  object-fit: contain;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: rgb(85, 83, 83);
}

.mat-raised-button{
  line-height: 2vw;
}
