
<form [formGroup]='resetPassWordFG'>
 <div class="ui-grid" *ngIf="!isMobilevar">
  <div class="ui-g-offset-3 ui-g-6">
  <img src="./assets/images/reset-password.svg" style="height: 40vh; width: 40vw; ">
  </div>
    <div class="ui-g-offset-4 ui-g-3">
      <mat-label>New password</mat-label>
    </div>
  <div class="ui-grid-row" style="font-size: 1.5vh">
    <mat-form-field appearance="outline" class="ui-g-offset-4 ui-g-3">
      <input matInput type="text" formControlName="newPassword" class="reset-input">
    </mat-form-field>
  </div>
    <div class="ui-g-offset-4 ui-g-3">
      <mat-label>Confirm new password</mat-label>
    </div>
  <div class="ui-grid-row" style="font-size: 1.5vh">
    <mat-form-field appearance="outline" class="ui-g-offset-4 ui-g-3">
      <input matInput type="password" formControlName="confirmPasword" class="reset-input">
    </mat-form-field>
  </div>
  <div class="ui-g-offset-4 ui-g-3">
  <button mat-raised-button type="button" class="button-style" style="width: 100%;" (click)="invokeResetPasswordEmail()">Reset</button>
  </div>
</div>
</form>
<form [formGroup]='resetPassWordFG'>
<div class="ui-grid" *ngIf="isMobilevar">
  <div class="ui-g-offset-3 ui-g-6">
    <img src="../../assets/images/reset-password.svg" style="height: 40vh; width:40vw; margin-left: 15%;">
    </div>
      <div class="ui-g-offset-4 ui-g-3" style="inline-size: auto;margin-top: -15%;" >
        <mat-label>New password</mat-label>
      </div>
    <div class="ui-grid-row" style="font-size: 1vh">
      <mat-form-field appearance="outline" class="ui-g-offset-4 ui-g-3" style="width: 50%;">
        <input matInput type="text" formControlName="newPassword" class="reset-input">
      </mat-form-field>
    </div>
      <div class="ui-g-offset-4 ui-g-3" style="inline-size: auto;">
        <mat-label>Confirm new password</mat-label>
      </div>
    <div class="ui-grid-row" style="font-size: 1vh">
      <mat-form-field appearance="outline" class="ui-g-offset-4 ui-g-3" style="width: 50%;">
        <input matInput type="password" formControlName="confirmPasword" class="reset-input">
      </mat-form-field>
    </div>
    <div class="ui-g-offset-4 ui-g-3">
    <button mat-raised-button type="button" class="button-style" style="width: 100%;" (click)="invokeResetPasswordEmail1()">Reset</button>
    </div>
  </div>
  </form>

