
<form [formGroup]='resetPassWordFG'>
  <div class="ui-grid" >
  <div [class]="  isMobilevar?  'ui-g-offset-1 ui-g-10': 'ui-g-offset-3 ui-g-6' ">
  <img src="./assets/images/reset-password.svg" [style]=" isMobilevar? 'height: 18vh; width: 100% ' : 'height: 30vh; width: 40vw'">
  </div>
  <div [class]=" isMobilevar?  'ui-g-12': 'ui-g-offset-4 ui-g-3'">
    <mat-label>Old password</mat-label>
  </div>
  <div class="ui-grid-row" style="font-size: 1.5vh">
    <mat-form-field appearance="outline" [class]=" isMobilevar?  'ui-g-12': 'ui-g-offset-4 ui-g-3'">
      <input matInput type="password" formControlName="oldPassword"  class="reset-input">
    </mat-form-field>
  </div>
    <div [class]=" isMobilevar?  'ui-g-12': 'ui-g-offset-4 ui-g-3'">
      <mat-label>New password</mat-label>
    </div>
  <div class="ui-grid-row" style="font-size: 1.5vh">
    <mat-form-field appearance="outline" [class]=" isMobilevar?  'ui-g-12': 'ui-g-offset-4 ui-g-3'">
      <input matInput type="password" formControlName="newPassword" class="reset-input">
    </mat-form-field>
  </div>
    <div [class]=" isMobilevar?  'ui-g-12': 'ui-g-offset-4 ui-g-3'">
      <mat-label>Confirm new password</mat-label>
    </div>
  <div class="ui-grid-row" style="font-size: 1.5vh">
    <mat-form-field appearance="outline" [class]=" isMobilevar?  'ui-g-12': 'ui-g-offset-4 ui-g-3'">
      <input matInput type="password" formControlName="confirmPasword" class="reset-input">
    </mat-form-field>
  </div>
  <div [class]=" isMobilevar?  'ui-g-12': 'ui-g-offset-4 ui-g-3'">
  <button mat-raised-button type="button" class="button-style" style="width: 100%; background-color: rgb(89, 111, 236);">Reset</button>
  </div>
  </div>


</form>
