.reset-password-bg{
  background-image: url("./../../assets/images/howitwork1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}
.reset-input{
  font-size: 2vh;
  font-family: "Nunito Sans", sans-serif; 
}
.matformfieldDesk{
  margin-top: 1%;
  margin-left: 33%;
  margin-bottom: 2%;
}
