.reset-password-bg{
  background-image: url("./../../assets/images/howitwork1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}
.reset-input{
  font-size: 1vw;
  font-family: 'Roboto', sans-serif;
}
