/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #eee;
  border: thick;
  margin: 0px;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: "Merriweather", serif;
  line-height: 100%;
}

.button-label {
  font-family: 'Roboto', sans-serif;
  font-size: .7vw;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: .5;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #e6dbdb;
}
.button-style{
  background-color:#084CAE;
  border-radius: 5px;
  color: white;
  width: 4vw;
  font-family: 'Roboto', sans-serif;
}

.button-style-mobile {
  background-color:#084CAE;
  border-radius: 5px;
  color: white;
  width: 4vw;
  font-family: 'Roboto', sans-serif;
}
.button-label-mobile {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: .8;
  text-align: center;
  color: #e6dbdb;
}
.router-link-style{
  color: rgba(9,86,198,1.0);
  font-family: 'Roboto', sans-serif;
}

.green-snackbar {
  background: #016617;
}
.red-snackbar {
  background: #FF0000;
}
.auzzio_logo {
  max-height: 10vh;
  margin: .1vw 0px;
}
.auzzio_logo_mobile {
  max-height: 5vw;
  margin: .5vw 0px;
}
