/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #eee;
  border: thick;
  margin: 0px;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: "Merriweather", serif;
  line-height: 100%;
}

.button-label {
  font-family: 'Roboto', sans-serif;
  font-size: .7vw;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: .5;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #e6dbdb;
}
.button-style{
  background-color:#084CAE;
  border-radius: 5px;
  color: white;
  width: 4vw;
  font-family: 'Roboto', sans-serif;
}

.button-style-mobile {
  background-color:#084CAE;
  border-radius: 5px;
  color: white;
  width: 4vw;
  font-family: 'Roboto', sans-serif;
}
.button-label-mobile {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: .8;
  text-align: center;
  color: #e6dbdb;
}
.router-link-style{
  color: rgba(9,86,198,1.0);
  font-family: 'Roboto', sans-serif;
}

.green-snackbar {
  background: #016617;
}
.red-snackbar {
  background: #FF0000;
}
.auzzio_logo {
  max-height: 10vh;
  margin: .1vw 0px;
}
.auzzio_logo_mobile {
  max-height: 5vw;
  margin: .5vw 0px;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #eee;
  border: thick;
  margin: 0px;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
   font-family: "Merriweather", serif;
  line-height: 100%;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pl-5 {
  padding-left: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pr-4 {
  padding-right: 4rem;
}
.pr-5 {
  padding-right: 5rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.ptb-5 {
  padding: 4.8vw 0rem 0rem ;
}

.ptb-5-profile {
  padding: 0vw 0rem 0rem ;
}
.ptb-5-mobile {
  padding: 17vw 0rem 0rem ;
}

.ptb-5-mobile-profile {
  padding: 0vw 0rem 0rem ;
}

.container {
  width: 100%;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -2rem;
  margin-left: -2rem;
}
/*
*,
::after,
::before {
  box-sizing: border-box;
}*/
.footer-bg {
  background-color: #131418 !important;
}
.text-white {
  color: #fff !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
ol li,
ul li {
  list-style: none;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.social-icons > a {
  margin-right: 20px;
  /* width: 45px;
  height: 45px; */
  font-size: 20px;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footerlistitemlink {
  color: rgba(255, 255, 255, 0.5) !important;
}
.footerlistitemlink:hover {
  color: #0446ba !important;
}
a,
a:hover,
a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cp-area {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.auzzio_logo {
  max-height: 10vw;
  margin: .1vw 0px;
}
.auzzio_logo_mobile {
  max-height: 5vw;
  margin: .5vw 0px;
}
.list_btn_class_mobile {
  line-height: 10px;
  margin-right: 5%;
  margin-top: 0px;
  position: absolute;
  right: 5%;
}
.pre-footer {
  display: grid;
  position: relative;
}

/* Style the social icons */
.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  /* background: #3b5998;
  color: white;*/
  background-image: url("assets/images/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Twitter */
.fa-twitter {
  background-image: url("assets/images/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fa-youtube {
  background-image: url("assets/images/youtubeicon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.fa-instagram {
  background-image: url("assets/images/instagramicon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 1200px) {
  .pre-footer {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media screen and (min-width: 992px) {
  .pre-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .pre-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (max-width: 576px) {
  .p-sm-0 {
    padding: 0px !important;
  }
  .title-bar {
    text-align: center;
  }
}

.ui-carousel-prev,
.ui-carousel-next {
  display: none;
}
.ui-carousel-dots-container {
  display: none;
}

@media only screen and (max-width: 320px) {
  style-element {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  style-element {
    font-size: 20px;
  }
}

.custom-carousel{
  width:100%;
  max-height: 50%;
}


.mat-form-field-wrapper {
  padding-bottom: .5em;
}

.mat-form-field-prefix {
  top:0;
}

.button-label {
  font-family: 'Roboto', sans-serif;
  font-size: .7vw;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: .5;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #e6dbdb;
}
.button-style{
  background-color:#084CAE;
  border-radius: 5px;
  color: white;
  width: 4vw;
  font-family: 'Roboto', sans-serif;
}

.button-style-mobile {
  background-color:#084CAE;
  border-radius: 5px;
  color: white;
  width: 4vw;
  font-family: 'Roboto', sans-serif;
}
.button-label-mobile {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: .8;
  text-align: center;
  color: #e6dbdb;
}
.router-link-style{
  color: rgba(9,86,198,1.0);
  font-family: 'Roboto', sans-serif;
}



.green-snackbar {
  background: #016617;
}
.red-snackbar {
  background: #FF0000;
}
